<div>
  <h1>Here is the puzzle!</h1>
  <p>(Don't look in the URL bar!)</p>
  <h3 class="well"> $puzzledWord</h3>
</div>
<br>
<div>
<button class=btn btn-danger><a href="/">Home</a></button>
</div>
<br>
